body {
    background-color: #333333;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 20px; /* Add horizontal padding to create space */
    box-sizing: border-box; /* Include padding in total width/height */
    font-family: Roboto;
}

.page {
    width: 50%;
    margin: 0 auto;
}

.header {
    background-color: #333333;
    color: #fff;
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding: 32px 16px 0 16px;
    margin: -32px 0px 16px -16px;

    width: 40%;
    float: left;
    box-sizing: border-box;
}

.header-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header-photo img {
    max-width: 300px;
    height: auto;
    display: flex;

    border-radius: 50%;
    border: 1px solid #ccc;

}

.header-content a {
    text-decoration: none;
    color: #ff6b6b;
    font-weight: bold;
    font-size: 50px;


}


.header-content small {
    color: #ff6b6b;
    display: block;
    margin-top: 4px;
    font-size: 25px;
    font-weight: normal;

    margin-bottom: 50px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: right;

    margin-bottom: 50px;
}

.header-nav a ,.dropdown {
    margin-right: 16px;
}

.header-nav img {
    max-width: 60px;
    height: auto;
}

header-nav a {
    color: #333333; /* Default text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for color change */
}

header-nav a:hover {
    color: #ff6b6b;
}

.button a {
    border: 5px solid;
    text-decoration: none;
    font-weight: bolder;
    color: #ff6b6b;
    padding: 10px;
    font-size: 25px;
    transition: filter 0.3s;
}

.button a:hover{
    filter: brightness(50%);
}

.header-skills h2 {
    font-size: 35px;
    font-weight: bolder;
    color: #a9a9a9;

}

.header-nav img {
    max-width: 60px;
    height: auto;
    transition: filter 0.3s; /* Smooth transition for image change */
    border-radius: 20%;
}

.header-nav img:hover {
    filter: brightness(50%); /* Decrease brightness of image on hover */
}


.content h1 {
    color: #3498db;
}


.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create a grid with flexible columns */
    gap: 20px; /* Add a gap between grid items */
}

.container {
    display: inline-block;
    align-items: end;
    margin-bottom: 20px; /* Add a bottom margin to create space between containers */
    border: 5px solid; /* Add a border around each container */
    border-radius: 15px; /* Optional: Add border radius for rounded corners */
    padding: 0; /* Remove padding inside the container */
}

.container img {
    max-width: 200px; /* Set the maximum width of the image */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-bottom: 10px; /* Add space between the image and text */
    border-radius: 10px;
}
